<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.min.css">
    <title>SAID ALSalti</title>

    <style>
        body{
            margin: 0;
            padding: 0;
            background-color:black;
        }
        .d1{
            margin: 0 auto auto;
            text-align: center;
            width: 900px;
            height: 400px;
            background-color:#5780AF;
        }
    </style>
</head>
<body>
  <div class="d1">
      <div>
          <h1>Welcom to M-tech Project 2017</h1>
          <h3>Test API And My some Operations</h3>
      </div>
  </div>
</body>
</html>