

<div class="container-flui">
    <div class="nav row">
        <div class="col-md-10 col-md-offset-1">
          <a href="#"><strong>next page</strong></a>|
          <a href="#"><strong>next page2</strong></a>
        </div>
       </div>
</div>


<div class="container text-center">


  <div style="height:400;background-color: rgba(32, 136, 227, 0.73)" class="row">
    <div class="col-md-10 col-md-offset-1">
     <div class="banner_master" >
         <app-login></app-login>
     </div>
    </div>
   <div class="row">
     <div class="col-md-10 col-md-offset-1">

   <app-home></app-home>
     </div>
   </div>









  </div>
</div>
